body {
  color: blue;
  background-color: black;
  margin-left: 3em;
}
article {
  width: 50%;
}
.basicinfo {
  float: left;
  width: auto;
  margin-right: 5%;
}
.family {
  color: red;
}
.work {
  color: green;
}
.goals {
  color: lightseagreen;
}
.fruit {
  color: orange;
}