body {
  color: blue;
  background-color: #000000;
  margin-left: 10%;
}
article {
  width: 58%;
}
.basicinfo {
  float: left;
  width: auto;
  margin-right: 5%;
}
.family {
  color: red;
}
.work {
  color: green;
}
.goals {
  color: lightseagreen;
}
.fruit {
  color: orange;
}